<form action="/github_users" method="get">
  <div>
    <label for="username">Enter a github username: </label>
    <input type="text" name="username" id="username" required>
    <input type="submit" value="Search!">
  </div>
</form>